{% extends "base.html" %}

{% block styles %}
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/site_static/post.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/site_static/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/site_static/js/ajax_csrf.js"></script>
<script type="text/javascript">
var postid = -1;
$(document).ready(function(){
  $(".comment").click(function(obj){
  postid = obj.target.id;
  $.post("/comment/",
  	{
      id: postid
    },
  	function(data,status){
      $("#"+postid).append(data);
  	});
  });
});
</script> 
{% endblock %}

{% block content%}
<div class="banner" style="text-align: right">
	<span><a href="/logout">logout</a></span>
</div>
<div class="container">
	{% for post in current_posts %}
	<div class="feed_item">
		<div class="title">
			<a href={{post.getValidLink }}>{{ post.subject }}</a>
		</div>
		<div>
			<div class="author">{{ post.author }}</div>
			<div class="datetime">{{ post.time }}</div>
		</div>
		<br />
		<div>
			<span class="topic_name"><a id="topic_a" href={{post.topic.getValidLink }}>{{ post.topic.name }}</a></span>
		</div>
		<div class="content">{{ post.content }}</div>
		<div class="comment" id={{ post.id }}>comment</div>
	</div>
	{% endfor %}
</div>
{% block input %}
{% endblock %}
{% endblock %}
