<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html>
<head>
    <title>bbsEx</title>
</head>
<body>
    <h1>bbsEx</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    Current Posts:
    {% for post in current_posts %}
    	<li>
    	Author:{{ post.author }}<br>
    	Post time:{{ post.time }}<br>
    	Subject:{{ post.subject }}<br>
    	Keywords:{{ post.keywords }}<br>
    	Content:{{ post.content }}<br>
    	</li>
    	<br>
    {% endfor %}

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
