html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

.banner {
	width: 100%;
}

.container {
text-align: left;
width: 100%;
zoom: 1;
}

.feed_item {
margin: 0 auto;
width: 980px;
border-bottom: 1px solid #eaeaea;
overflow: hidden;
padding: 10px;
}

.title {
font-size: x-large;
font-weight: 700;
color: blue;
}

.topic_name {
color: red;
background-color: green;
}

.author {
color:gray;
float: left;
}

.datetime {
color:gray;
float: right;
}

.new_post {
margin: 0 auto;
width: 980px;
overflow: hidden;
}
