<div class="results_frame" style="display: inline-block;">
  <ul class="results_list">
    {% for topic in candidates %}
    <li id={{topic.id}} style="list-style-type: none;">
    <span class="pic">
      <img width="25" height="25" src={{topic.picture}}>
    </span>
    {{topic.name}}
  	</li>
  	{% endfor %}
  	<li id="new_topic" style="list-style-type: none;">
  	<span class="pic">
      <img width="25" height="25" alt={{topic.name}} src={{topic.picture}}>
    </span>
  	Create topic
  	</li>
</ul>
</div>
